# Copy file ini menjadi .env.development / .env.staging / .env.production

# Server
SERVER_BASE_URL=

# Google Sign-In (Web Client ID dari Firebase Console)
GOOGLE_SERVER_CLIENT_ID=

# Firebase Android
FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

# Firebase iOS
FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_BUNDLE_ID=

# Socket
KEY_SOCKET=
HOST_SOCKET=
ENDPOINT_CHANNEL_SOCKET=
PORT_SOCKET=

# Maps
KEY_MAPS=
